section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loginform_box{
	width: 322px;
	height: 325px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	margin: 230px auto 150px auto;
	padding: 0 30px;
}

#loginform #loginform_box h2{
	font-size: 24px;
	text-align: center;
	padding: 35px 0 30px 0;
}
#loginform input{
	padding: 10px 15px;
	width: 290px;
	height: 17px;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid rgb(196, 196, 196);
	margin-top: 5px;
}
#loginform #loginform_checkbox{
	width: 322px;
	height: 40px;
	display: flex;
    align-items: center;
}
#loginform #loginform_checkbox input{
	width: 13px;
	height: 13px;
	margin: 0;
}
#loginform #loginform_checkbox p{
	font-size: 13px;
	padding-left: 7px;
}
#loginform button {
	font-size: 16px;
	width: 322px;
	height: 39px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;
    border: none;
}
#loginform button:hover {
    background: linear-gradient(to bottom, rgb(200, 200, 200), rgb(243, 243, 243));
    cursor: pointer;
}
#loginform #loginform_bottom{
	width: 322px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#loginform #loginform_bottom a{
	font-size: 13px;
}

#loginform input[type="checkbox"] {
	accent-color: rgb(134, 134, 134);
	color: white;
}

/* 관리자 로그인 */
#adminlogin_form .button{
	margin-top: 20px;
}

footer{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}